:root{
    --background-hue: #c7d5e0;
    /* --text-hue: #222430; */
    --text-hue: #333646;
    --topic-bar-hue: #2ea9f0;
    --white: #d9e7f1;
    --black: #2a2c39;
    --shadow: rgba(71, 157, 255, 0.5);
}