.course-container{
    width: 100%;
    height: fit-content;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    overflow: hidden;
}

.course-content{
    width: 800px;
    height: fit-content;
    display: grid;
    grid-template-columns: 50% 50%;
}

.course-content .course-card{
    height: fit-content;
    box-shadow: 2px 2px 20px var(--shadow);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px 20px;
    margin: 10px;
    color: var(--text-hue);
} 

.course-content .course-card p{
    font-size: 12px;
    color: var(--text-hue);
}

.course-content .course-card h5{
    color: var(--text-hue);
    margin-top: 10px;
}

.emails{
    color: var(--text-hue);
}

@media(max-width: 840px) {
    .course-content{
        width: 100%;
    }
}

@media(max-width: 776px) {
    .course-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .course-content .course-card{
        width: 100%;
        margin: 0;
    }
}